<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/20571f38a7.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="/images/favicon-32x32.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style/style.css" />
    <title>MoontexIO</title>
  </head>
</html>
